/*Ссылка на шрифт Segoe UI Regular*/
@font-face {
  font-family: 'Segoe UI Regular';
  src: url('../font/SegoeUI/SegoeUI.eot');
  src: url('../font/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI/SegoeUI.woff') format('woff'),
  url('../font/SegoeUI/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

/*Ссылка на шрифт Segoe UI Semibold*/
@font-face {
  font-family: 'Segoe UI Semibold';
  src: url('../font/SegoeUI/SegoeUI-SemiBold.eot');
  src: url('../font/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
  url('../font/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

